<div class="container"><br>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170302114154-masala-dosa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Masala Dosa</h5>
                          <p class="card-text">Masala dosa/Masale Dosey is a variation of the popular South Indian dosa, which has its origins in Tuluva Udupi cuisine of Karnataka. It is made from rice, lentils, potato, fenugreek, ghee and curry leaves, and served with chutneys and sambar.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170203151518-crisps.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Potato Chips</h5>
                          <p class="card-text">A potato chip is a thin slice of potato that has been either deep fried, baked, or air fried until crunchy. They are commonly served as a snack, side dish, or appetizer.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170206165040-dubai-michelin-dining-boca.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Seafood Paella</h5>
                          <p class="card-text">Paella is a rice dish originally from Valencia. While it is commonly viewed by non-Spaniards as Spain's national dish, Spaniards almost unanimously consider it to be a dish from the Valencian region.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170302150650-chicken-rice-singapore.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Rice</h5>
                          <p class="card-text">Hainanese chicken rice is a dish of poached chicken and seasoned rice, served with chilli sauce and usually with cucumber garnishes. It was created by immigrants from Hainan in southern China and adapted from the Hainanese dish Wenchang chicken.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170302151812-french-toast-hong-kong.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">French Toast</h5>
                          <p class="card-text">French toast is a dish made of sliced bread soaked in beaten eggs, sugar and typically milk, then pan fried. Alternative names and variants include "eggy bread", "Bombay toast", "gypsy toast", and "poor knights".</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170920150817-chicken-parm.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Parm</h5>
                          <p class="card-text">Chicken parmigiana, or chicken parmesan, is a dish that consists of breaded chicken breast covered in tomato sauce and mozzarella, parmesan, or provolone cheese. A quantity of ham or bacon is sometimes added.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170209172755-hummus.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hummus</h5>
                          <p class="card-text">Hummus is a Middle Eastern dip, spread, or savory dish made from cooked, mashed chickpeas blended with tahini, lemon juice, and garlic. The standard garnish in the Middle East includes olive oil, a few whole chickpeas, parsley, and paprika.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170306145913-singapore-chili-crab.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chili Crab</h5>
                          <p class="card-text">Chilli crab is a Southeast Asian seafood dish originating from Singapore in the 1960s. It is widely associated as the national cuisines of both Malaysia and Singapore. Mud crabs are commonly used and are stir-fried in a semi-thick, sweet and savoury tomato-and-chilli-based sauce.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170302144617-maple-syrup.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Maple Syrup</h5>
                          <p class="card-text">Maple syrup is a syrup usually made from the xylem sap of sugar maple, red maple, or black maple trees, although it can also be made from other maple species.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-4 col-xl-6 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170124150418-18---fish-and-chips.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Fish And Chips</h5>
                          <p class="card-text">Fish and chips is a popular hot dish consisting of fried fish in crispy batter, served with chips. The dish originated in England, where these two components had been introduced from separate immigrant cultures; it is not known who created the culinary fusion that became the emblematic British meal.</p>
                          <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
