<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Discount code:<br></label>
                <select name="" id="" class="form-control">Select
                    <option value="5">5% discount</option>
                    <option value="10">10% discount</option>
                    <option value="25">25% discount</option>
                    <option value="50">50% discount</option>
                </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address:<br></label>
                    <textarea name="" id="" cols="10" rows="5" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Payment:</label>
                    <select name="" id="" class="form-control">Choose
                        <option value="CC">Credit/Debit Card</option>
                        <option value="NB">Net Banking</option>
                        <option value="COD">Cash On Delivery</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <br><button class="btn btn-primary">PAY</button>
                </div>
            </div>
        </div>
    </div>
</div>
